<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iic.shopingo"
    >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application
      android:name=".ShopingoApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      >
    <activity
        android:name=".ui.ContactDetailsActivity"
        android:label="@string/title_activity_contact_details"
        android:screenOrientation="portrait"
        >
    </activity>
    <activity
        android:name=".ui.OnboardingActivity"
        android:label="@string/title_activity_onboarding"
        android:screenOrientation="portrait"
        >
    </activity>
    <activity
        android:name="com.facebook.LoginActivity"
        android:label="@string/title_facebook_login"
        android:screenOrientation="portrait"
        />

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".ui.request_flow.activities.SelectShopperActivity"
        android:label="@string/title_activity_select_shopper"
        android:parentActivityName=".ui.HomeActivity"
        android:screenOrientation="portrait"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.HomeActivity"
          />
    </activity>
    <activity
        android:name=".ui.request_flow.activities.CreateShoppingListActivity"
        android:label="@string/title_activity_create_request"
        android:parentActivityName=".ui.request_flow.activities.SelectShopperActivity"
        android:screenOrientation="portrait"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.request_flow.activities.SelectShopperActivity"
          />
    </activity>
    <activity
        android:name=".ui.request_flow.activities.RequestStateActivity"
        android:label="@string/title_activity_request_state"
        android:screenOrientation="portrait"
        >
    </activity>
    <activity
        android:name=".ui.HomeActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.trip_flow.activities.ManageTripActivity"
        android:label="@string/title_activity_manage_trip"
        android:parentActivityName=".ui.HomeActivity"
        android:screenOrientation="portrait"
        />
  </application>

</manifest>
